[submodule "home/.zsh-completions"]
	path = home/.zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.zsh-autosuggestions"]
	path = home/.zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/.zsh-pure"]
	path = home/.zsh-pure
	url = https://github.com/sindresorhus/pure.git
[submodule "home/.zsh-autopair"]
	path = home/.zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "home/.zsh-fast-syntax-highlighting"]
	path = home/.zsh-fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "home/.zsh-fzf-tab"]
	path = home/.zsh-fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "home/.oh-my-bash"]
	path = home/.oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "home/.bash-completion"]
	path = home/.bash-completion
	url = https://github.com/scop/bash-completion.git
[submodule "home/.fzf"]
	path = home/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "gdb/gef-extras"]
	path = gdb/gef-extras
	url = https://github.com/hugsy/gef-extras
[submodule "gdb/gef"]
	path = gdb/gef
	url = https://github.com/hugsy/gef
