[submodule "config/.zsh-completions"]
	path = config/.zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "config/.zsh-autosuggestions"]
	path = config/.zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/.zsh-pure"]
	path = config/.zsh-pure
	url = https://github.com/sindresorhus/pure.git
[submodule "config/.zsh-autopair"]
	path = config/.zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "config/.zsh-fast-syntax-highlighting"]
	path = config/.zsh-fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "config/.zsh-fzf-tab"]
	path = config/.zsh-fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
